img.logobank {
    width: 50px;
    margin-top: 5px;
}

div.bank-selected svg {
    margin-top: 21px;
    font-size: 20px;
}

div.bank-arrow {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

@media screen and (min-width: 480px) {
    div.bank-arrow {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .payment-type-value {
        padding-right: 2em;
    }

    .btn-more {
        display: none;
    }
}

.custom-control-label::before {
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

.custom-control-label::after {
    width: 20px;
    height: 20px;
    margin-top: 4px;
}


.expeditionServiceGroupHeader svg {
    float: right;
    transition: all 0.5s;
}