div.loading-overlay {
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1050;
    top: 0px;
    left: 0px;
}

    div.loading-overlay > div {
        position: absolute;
        left: 45%;
        top: 35%;
    }
